<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="commonLayout"
            value="${longdate} | ${level:uppercase=true:padding=-5} | ${logger} | ${message:withException=true}"
  />

  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}/Rhetos.LanguageServices/Rhetos.LanguageServices.Server.log" 
            layout="${commonLayout}" archiveAboveSize="2000000" maxArchiveFiles="1" />
    <target name="logconsole" xsi:type="Console" layout="${commonLayout}" />
  </targets>

  <rules>
    <logger name="Rhetos.*" minlevel="Trace" writeTo="logfile" final="true" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>