<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="nlog-internal.log" internalLogLevel="Trace">

  <targets async="false">
    <target name="logfile" xsi:type="File" fileName="ServerProxy.log" archiveAboveSize="2000000" maxArchiveFiles="1" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="logfile" />
  </rules>
</nlog>